body{
    background-color: #CBFFC9;
}
.table{
    border: 1px solid #666666;
    display: table;
    background-color: #eee;
    margin: auto;
}
.column{
    float: left;

}
.cell{
    text-align: center;
    border: 1px solid #666666;
}